.clipSection-1 {
  overflow: hidden;
  position: relative;
  height: 50rem;
  width: 100vw;
  @include flex(space-between, center);
  flex-wrap: wrap;
  .clipSection-1-image {
    height: 100%;
    width: 50%;
    min-width: 55rem;
    object-fit: cover;
    position: relative;
    z-index: -2;
  }
}

.clipSection-1-paral {
  height: 100%;
  width: 65%;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skew(-15deg);
  // display: none;
}

.text-part {
  height: auto;
  width: 50%;
  padding-left: 15vw;
  p {
    margin: 2.5rem 0;
  }
  button {
    font-size: 1.5rem;
    background-color: color(style-color);
    border: none;
    color: white;
    padding: 1.5rem 4.5rem;
    border-radius: 2px;
    transition: 0.3s ease;
    &:hover {
      background-color: darken(color(style-color), 10%);
    }
  }
}

@media (max-width: 880px) {
  .clipSection-1 {
    padding: 5rem 0 0;
    height: auto;
    width: 100vw;
    @include flex(space-between, center);
    flex-wrap: wrap;
    .clipSection-1-image {
      height: 50%;
      width: 100%;
      min-width: 55rem;
    }
  }

  .clipSection-1-paral {
    height: 60%;
    width: 200rem;
    background-color: white;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10rem;
    transform: rotate(5deg);
  }

  .text-part {
    background-color: transparent;
    text-align: center;
    padding-right: 10vw;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
    p {
      width: 100%;
    }
  }
}
