section.download-bar {
  @include flex(space-between, center);
  height: 30rem;
  padding-left: 11vw;
  position: relative;
  overflow: hidden;
  background-color: #0f172c;
  color: white;
  h2 {
    font-size: 3rem;
    font-weight: 300;
  }

  p {
    margin-bottom: 2rem;
  }

  .download-buttons2 {
    @include flex(space-between, center);
    width: 31rem;
    margin: 0;
    div {
      border: 2px solid white;
      color: white;
      background-color: transparent;
      width: 15rem;
      height: 4.5rem;
      border-radius: 2.5rem;
      padding: 0 3rem;
      margin: 0;
      white-space: nowrap;
      @include flex(space-around, center);
      font-size: 1.5rem;
      transition: 0.3s ease;

      .btn-icon {
        height: 2rem;
        margin-right: 0.7rem;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.download-bar-text {
  width: 50%;
}

.download-bar-img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  z-index: 2;
  height: auto;
  img {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .download-bar-img {
    display: none;
  }

  .download-bar-text {
    width: 100%;
    text-align: center;
  }

  section.download-bar .download-buttons2 {
    margin: 0 auto;
  }

  section.download-bar {
    padding-left: 0;
  }
}
