footer {
    ul {
        list-style: none;
    }

    li {
        font-size: 15px;
        color: color(text-black);
    }
    a {
        background-color: transparent;
        padding: 0;
        font-size: 12px;
        color: color(text-black);
        &:hover {
            color: color(style-color);
            text-decoration: underline;
        }
    }
    button {
        height: auto;
        font-size: 12px;
        width: auto;
        background-color: transparent;
        color: color(style-color);
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    background-color: #EFF2F7;
}

.badgesAndLinks .row img {
    height: auto;
}

.footerSocialIcons {
    font-size: 1.5rem;
}

.textAndStuff {
    text-align: right;
    
    h5 {
        font-size: 1.3rem;
        font-weight: 600;
    }

    h6 {
        font-size: 1.1rem;
        // white-space: nowrap;
        font-weight: 400;
        a {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 767px) {
    .textAndStuff {
        text-align: left;
    }

    .footerSocialIcons {
        div {
            order: 1;
        }
    }

    .badgesAndLinks .row div {
        display: none;
    }
}



