section.search#search {
  padding: 2.5rem 0;
  width: 100vw;
  background-color: #fcfcfc;
  text-align: center;
  height: auto;
  h3 {
    font-weight: 300;
    font-size: 3.5rem;
    color: rgb(80, 80, 80);
  }
}

.search-flex {
  @include flex(space-between, center);
  padding: 1rem 15vw;
}

.search-flex > div {
  margin: 1rem 1rem;
}

.search-input {
  position: relative;
  top: 1rem;
  @include flex(flex-end, flex-start);
  flex-direction: column;
  h5 {
    margin-top: 1rem;
    font-weight: 300;
  }
  .input-bar {
    display: flex;
    width: 40rem;
    height: 4.5rem;
    input {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
      border: 1.5px solid color(text-black);
      border-right: none;
      padding-left: 2.5rem;
      flex-grow: 1;
      height: 100%;

      &::placeholder {
        font-size: 1.5rem;
      }
    }
    .search-btn {
      @include idealFlex;
      border: 1.5px solid color(text-black);
      border-left: none;
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
      width: 15rem;
      background-color: color(style-color);
      color: white;
      height: 100%;
      transition: 0.2s ease;
      &:hover {
        transform: scale(0.97);
      }
    }
  }
}

.download-buttons {
  @include flex(space-between, center);
  width: 31rem;
  margin: 0 5rem;
  div {
    border: 2px solid color(text-black);
    color: color(text-black);
    background-color: transparent;
    width: 15rem;
    height: 4.5rem;
    border-radius: 2.5rem;
    padding: 0 3rem;
    margin: 0 1rem;
    white-space: nowrap;
    @include flex(space-around, center);
    font-size: 1.5rem;
    transition: 0.3s ease;

    .btn-icon {
      height: 2rem;
      margin-right: 0.7rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.badge {
  width: 20rem;
  img {
    width: 100%;
  }
}

@media (max-width: 1150px) {

  .search-flex {
    @include idealFlex;
    flex-direction: column;
    padding: 0;
  }

  .search-input {
    top: 0;
    @include idealFlex;
    .input-bar {
      width: 70vw;
      min-width: 28rem;
      input {
        flex-grow: 2;
      }
      .search-btn {
        flex-grow: 1;
        white-space: nowrap;
        font-size: 2rem;
      }
    }
  }
}
