* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: 1px solid black;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 7rem;
  font-weight: 200;
}

li {
  font-size: 1.5rem;
}

a {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .logo img {
  height: 5rem;
  width: auto;
}

.header-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

.header-top {
  min-height: 10vh;
  z-index: 2;
  padding: 2rem 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .logo img {
  height: 5rem;
  width: auto;
}

.header-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

header {
  border-top: 0.5rem solid #00a2ff;
  height: 85vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42424280), to(rgba(66, 66, 66, 0.5))), url("../images/chair-3306118_640.jpg");
  background-image: linear-gradient(#42424280, rgba(66, 66, 66, 0.5)), url("../images/chair-3306118_640.jpg");
  position: relative;
  color: white;
}

.top-section {
  position: absolute;
  height: 65%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.top-section section {
  width: 50vw;
}

.top-section section h3 {
  font-weight: 500;
}

.input-div {
  margin-top: 2rem;
  background-color: white;
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-div #location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  padding-left: 2rem;
}

.input-div #location::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location:-ms-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location::-ms-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location::placeholder {
  font-size: 1.5rem;
}

.input-div .search-button {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #00a2ff;
  background-color: white;
}

.input-div .search-button i {
  font-size: 2.5rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.input-div .search-button:hover i {
  opacity: .7;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  min-height: 8vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-bottom h3 {
  font-weight: 400;
}

a#header-bottom-link {
  color: white;
  margin-left: 1rem;
}
/*# sourceMappingURL=styles.css.map */