* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: 1px solid black;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 5.1rem;
  font-weight: 200;
}

li {
  font-size: 1.5rem;
}

a {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.5rem;
  color: #505050;
}

p {
  font-size: 2.1rem;
  font-weight: 300;
}

body > section > p {
  margin: 2rem 0 3.5rem;
}

a {
  text-decoration: none;
  color: white;
  background-color: #006dc7;
  font-size: 1.8rem;
  padding: 1rem 3.5rem;
  border-radius: 0.3rem;
}

a#header-bottom-link {
  text-decoration: underline;
  background-color: transparent !important;
  color: white;
  margin-left: 1rem;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .logo img {
  height: 5rem;
  width: auto;
}

.header-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 35%;
  }
}

.header-top {
  min-height: 10vh;
  z-index: 2;
  padding: 2rem 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .logo img {
  height: 5rem;
  width: auto;
}

.header-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

header {
  border-top: 0.5rem solid #006dc7;
  height: 80rem;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42424280), to(rgba(66, 66, 66, 0.5))), url("../images/chair-3306118_640.jpg");
  background-image: linear-gradient(#42424280, rgba(66, 66, 66, 0.5)), url("../images/chair-3306118_640.jpg");
  position: relative;
  color: white;
}

.top-section {
  position: absolute;
  height: 65%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.top-section section.top {
  width: 50vw;
}

.top-section section.top h2 {
  font-size: 7rem;
}

.top-section section.top h3 {
  font-weight: 500;
}

.input-div {
  margin-top: 2rem;
  background-color: white;
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-div #location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  padding-left: 2rem;
}

.input-div #location::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location:-ms-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location::-ms-input-placeholder {
  font-size: 1.5rem;
}

.input-div #location::placeholder {
  font-size: 1.5rem;
}

.input-div .search-button {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #006dc7;
  background-color: white;
}

.input-div .search-button i {
  font-size: 2.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.input-div .search-button:hover i {
  opacity: 0.7;
}

.header-menu-mobile-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  color: grey;
  display: none;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  min-height: 8vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-bottom h3 {
  font-weight: 400;
}

a#header-bottom-link {
  text-decoration: underline;
  background-color: transparent;
  color: white;
  padding: 0;
  margin-left: 1rem;
}

@media (max-width: 1240px) {
  .top-section {
    text-align: center;
  }
  .top-section section.top {
    width: 60vw;
  }
  .top-section section.top h2 {
    font-size: 6rem;
  }
  .top-section section.top h3 {
    font-weight: 500;
  }
  .header-bottom {
    white-space: normal;
    min-height: 10rem;
    padding: 0 5%;
  }
  .header-bottom h3 {
    font-weight: 400;
  }
  .header-bottom h3 a {
    white-space: nowrap;
  }
}

@media (max-width: 650px) {
  .top-section {
    text-align: center;
  }
  .top-section section.top {
    width: 85vw;
  }
  .top-section section.top h2 {
    font-size: 6rem;
  }
  .top-section section.top h3 {
    font-weight: 500;
  }
  .header-menu-mobile-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-menu {
    display: none;
  }
}

section.search#search {
  padding: 2.5rem 0;
  width: 100vw;
  background-color: #fcfcfc;
  text-align: center;
  height: auto;
}

section.search#search h3 {
  font-weight: 300;
  font-size: 3.5rem;
  color: #505050;
}

.search-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 15vw;
}

.search-flex > div {
  margin: 1rem 1rem;
}

.search-input {
  position: relative;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-input h5 {
  margin-top: 1rem;
  font-weight: 300;
}

.search-input .input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40rem;
  height: 4.5rem;
}

.search-input .input-bar input {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  border: 1.5px solid #505050;
  border-right: none;
  padding-left: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.search-input .input-bar input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.search-input .input-bar input:-ms-input-placeholder {
  font-size: 1.5rem;
}

.search-input .input-bar input::-ms-input-placeholder {
  font-size: 1.5rem;
}

.search-input .input-bar input::placeholder {
  font-size: 1.5rem;
}

.search-input .input-bar .search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #505050;
  border-left: none;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  width: 15rem;
  background-color: #006dc7;
  color: white;
  height: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.search-input .input-bar .search-btn:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.download-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31rem;
  margin: 0 5rem;
}

.download-buttons div {
  border: 2px solid #505050;
  color: #505050;
  background-color: transparent;
  width: 15rem;
  height: 4.5rem;
  border-radius: 2.5rem;
  padding: 0 3rem;
  margin: 0 1rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.download-buttons div .btn-icon {
  height: 2rem;
  margin-right: 0.7rem;
}

.download-buttons div:hover {
  opacity: 0.7;
}

.badge {
  width: 20rem;
}

.badge img {
  width: 100%;
}

@media (max-width: 1150px) {
  .search-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .search-input {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search-input .input-bar {
    width: 60vw;
    min-width: 28rem;
  }
  .search-input .input-bar input {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .search-input .input-bar .search-btn {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .input-bar {
    width: 90vw;
  }
  .input-bar input {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .input-bar .search-btn {
    width: 50%;
  }
  .download-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download-buttons div {
    margin: 1rem;
  }
}

.clipSection-1 {
  overflow: hidden;
  position: relative;
  height: 50rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clipSection-1 .clipSection-1-image {
  height: 100%;
  width: 50%;
  min-width: 55rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -2;
}

.clipSection-1-paral {
  height: 100%;
  width: 65%;
  background-color: white;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.text-part {
  height: auto;
  width: 50%;
  padding-left: 15vw;
}

.text-part p {
  margin: 2.5rem 0;
}

.text-part button {
  font-size: 1.5rem;
  background-color: #006dc7;
  border: none;
  color: white;
  border-radius: 2px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.text-part button:hover {
  background-color: #005194;
}

@media (max-width: 880px) {
  .clipSection-1 {
    padding: 5rem 0 0;
    height: auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clipSection-1 .clipSection-1-image {
    height: 50%;
    width: 100%;
    min-width: 55rem;
  }
  .clipSection-1-paral {
    height: 60%;
    width: 200rem;
    background-color: white;
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10rem;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .text-part {
    background-color: transparent;
    text-align: center;
    padding-right: 10vw;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .text-part p {
    width: 100%;
  }
}

section.partner {
  padding: 10rem 13vw;
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner-img {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 5rem;
}

.partner-text {
  width: 50%;
  height: 100%;
}

.partner-text p {
  margin: 2.5rem 0 3.5rem;
}

.partner-text a {
  text-decoration: none;
  color: white;
  background-color: #006dc7;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.partner-text a:hover {
  background-color: #005194;
}

@media (max-width: 1430px) {
  section.partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .partner-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .partner-img {
    margin-top: 10rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partner-img img {
    height: 120%;
    width: 120%;
  }
}

section.clipSection-2 {
  height: 65rem;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paral {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60%;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  background-color: white;
  z-index: -1;
}

img.explore-img {
  position: relative;
  height: 100%;
  width: 50%;
  min-width: 55rem;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.explore-text {
  position: relative;
  height: auto;
  width: 50%;
  padding-left: 15vw;
}

.explore-text p {
  margin: 2rem 0 3rem;
}

.explore-text a {
  text-decoration: none;
  color: white;
  background-color: #006dc7;
  padding: 1rem 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.5rem;
}

.explore-text a:hover {
  background-color: #005194;
}

@media (max-width: 880px) {
  section.clipSection-2 {
    height: auto;
    padding: 5rem 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  img.explore-img {
    height: 50%;
    width: 100%;
    min-width: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -2;
    margin: 0;
    padding: 0;
    top: 5rem;
  }
  .explore-text {
    height: auto;
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding: 1rem 10vw;
  }
  .paral {
    height: 50%;
    width: 200%;
    left: -10rem;
    background-color: white;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    z-index: -1;
  }
}

section.gif-cta {
  height: 85rem;
  padding: 0 15.5vw;
  width: 100vw;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gif-cta-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  height: 100%;
}

.gif-cta-image img {
  height: 100%;
  width: auto;
}

.gif-cta-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.gif-cta-text p {
  margin: 2rem 0 2.5rem;
}

@media (max-width: 1052px) {
  section.gif-cta {
    height: 80rem;
    padding: 0 12vw;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gif-cta-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 70rem;
    width: auto;
  }
  .gif-cta-image img {
    width: auto;
    height: 100%;
  }
  .gif-cta-text {
    margin: 5rem 0;
    width: 20rem;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

section.gif-talk {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 83rem;
  margin: 0 auto;
  padding: 5rem 5rem 0;
  background-color: white;
}

section.gif-talk p {
  line-height: 3rem;
  color: #505050;
}

section.gif-talk button {
  text-decoration: none;
  color: #006dc7;
  background-color: transparent;
  font-size: 1.8rem;
  padding: 0;
}

section.gif-talk button:hover {
  text-decoration: underline;
}

section.gif-talk img {
  margin-top: 1rem;
  width: 100%;
  position: relative;
  top: 0.3rem;
}

section.reviews {
  padding: 2rem;
  color: #505050;
  background-color: #f7f7f7;
  border-top: 2px solid #d4d4d4be;
  width: 100vw;
  height: 70rem;
}

section.reviews h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

section.reviews h4 {
  font-size: 2rem;
  font-weight: 600;
}

section.reviews h4.review-date {
  opacity: 0.5;
}

section.reviews p {
  font-size: 1.5rem;
  line-height: 2.55rem;
  font-weight: 400;
  margin: 2rem 0;
}

section.reviews .stars {
  margin-bottom: 1.5rem;
}

section.reviews .stars i {
  margin-right: 1rem;
  color: #f5db48;
  font-size: 2.5rem;
}

section.reviews .review {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.233);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.233);
  min-width: 36rem;
  max-width: 36rem;
  padding: 2rem 3rem 3rem;
  margin: 1.5rem;
  background-color: white;
}

section.reviews .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sliderAndBtns {
  height: 80%;
  width: 62%;
  position: relative;
  margin: 0 auto;
}

.sider-face {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

.arrow {
  height: 5rem;
  width: 5rem;
  color: #999999;
  position: absolute;
  top: 40%;
  z-index: 1000;
  font-size: 10rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.prev {
  left: -7rem;
}

.next {
  right: -7rem;
}

section.changing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 58rem;
  position: relative;
}

section.changing img {
  position: relative;
  z-index: -2;
  height: 100%;
  width: 50%;
  min-width: 55rem;
  -o-object-fit: cover;
     object-fit: cover;
}

section.changing .paral-2 {
  background-color: white;
  height: 100%;
  width: 61%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  z-index: -1;
}

section.changing .changing-text {
  position: relative;
  width: 50%;
  min-width: 55rem;
  height: auto;
  padding-right: 11%;
}

section.changing .changing-text span {
  color: white;
  background-color: #f5db48;
  padding: 2px 5px;
  font-size: 1.3rem;
  border-radius: 5px;
}

section.changing .changing-text p {
  margin: 2.5rem 0;
}

@media (max-width: 880px) {
  section.changing {
    overflow: hidden;
    height: auto;
  }
  section.changing img {
    height: 50%;
    width: 100%;
    min-width: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section.changing .paral-2 {
    background-color: white;
    height: 60%;
    width: 250%;
    top: 0;
    left: -10rem;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    z-index: -1;
  }
  section.changing .changing-text {
    margin: 5rem 0;
    width: 100%;
    min-width: 1rem;
    height: 50%;
    text-align: center;
    padding: 0 10vw;
  }
}

section.pro-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f5f5;
  height: 70rem;
  width: 100vw;
}

.pro-plus > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
}

.pro-plus-text {
  padding-left: 11vw;
}

.mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7rem;
  height: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.mark div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: white;
  background-color: #f5db48;
  padding: 3px 6px;
  font-size: 1.3rem;
}

.mark div.span-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #00477b;
  color: white;
}

.heading {
  margin: 0.5rem 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading h2 {
  white-space: normal;
}

button {
  height: 3.5rem;
  width: 16rem;
  background-color: #006dc7;
  border: none;
  color: white;
  font-size: 1.8rem;
  border-radius: 0.3rem;
}

@media (max-width: 1500px) {
  .pro-plus-text {
    padding-left: 8vw;
  }
}

@media (max-width: 1299px) {
  section.pro-plus {
    height: auto;
    text-align: center;
  }
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .heading img {
    display: none;
  }
  .pro-plus-text {
    padding: 3rem 5vw;
    margin: 0 auto;
    width: 90vw;
  }
  .mark {
    margin: 0 auto;
  }
  .pro-plus-image {
    height: 35rem;
    margin: 0 auto;
  }
  .pro-plus-image img {
    width: auto;
    height: 100%;
  }
}

section.download-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  padding-left: 11vw;
  position: relative;
  overflow: hidden;
  background-color: #0f172c;
  color: white;
}

section.download-bar h2 {
  font-size: 3rem;
  font-weight: 300;
}

section.download-bar p {
  margin-bottom: 2rem;
}

section.download-bar .download-buttons2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31rem;
  margin: 0;
}

section.download-bar .download-buttons2 div {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 15rem;
  height: 4.5rem;
  border-radius: 2.5rem;
  padding: 0 3rem;
  margin: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.download-bar .download-buttons2 div .btn-icon {
  height: 2rem;
  margin-right: 0.7rem;
}

section.download-bar .download-buttons2 div:hover {
  opacity: 0.7;
}

.download-bar-text {
  width: 50%;
}

.download-bar-img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  z-index: 2;
  height: auto;
}

.download-bar-img img {
  width: 100%;
}

@media (max-width: 580px) {
  .download-bar-img {
    display: none;
  }
  .download-bar-text {
    width: 100%;
    text-align: center;
  }
  section.download-bar .download-buttons2 {
    margin: 0 auto;
  }
  section.download-bar {
    padding-left: 0;
  }
}

section.proAds {
  padding: 0 11vw;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proAds-text {
  width: 50%;
}

.proAds-text span {
  color: white;
  padding: .5rem 1.5rem;
  background-color: #f5db48;
  border-radius: .5rem;
}

.proAds-text .social img {
  height: 5rem;
  margin: 2rem 1rem 1rem 0;
}

.proAds-text p {
  margin: 2rem 0 0;
}

.proAds-image {
  height: 50%;
}

.proAds-image img {
  height: 100%;
}

@media (max-width: 976px) {
  section.proAds {
    padding: 0 5vw;
  }
}

@media (max-width: 846px) {
  section.proAds {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 5rem 0;
  }
  .proAds-text {
    text-align: center;
  }
  .proAds-text h2 {
    font-size: 4rem;
  }
  .proAds-image {
    height: auto;
    width: 50%;
    min-width: 50rem;
  }
  .proAds-image img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */